@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@font-face {
  font-family: "NanumGoding";
  src: url("/font/나눔손글씨 고딕 아니고 고딩.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: "NanumGoding", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  h1 {
    @apply text-5xl md:text-6xl font-bold tracking-tight;
  }
  h2 {
    @apply text-4xl md:text-5xl font-bold tracking-tight;
  }
  h3 {
    @apply text-2xl md:text-3xl font-semibold;
  }
  p {
    @apply text-lg md:text-xl text-gray-600;
  }
}
